.contact {
    display: flex;
    background-color: var(--color-background);
    opacity: 0.9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.contact h2 {
    font-size: 3rem;
    color: orange;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.contact form {
    color: var(--color-white);
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}