.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    background-color: var(--color-heading);

}

.header__nav  {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;

}

.header__nav > a {
    text-decoration: none;
    cursor: pointer;
    padding: 0 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;


}
