:root {
    --color-background: rgb(12, 12, 12);
    --color-white: #fff;
    --color-lightgrey: lightgray;
    --color-heading:orange;
}

html, body{
    scroll-behavior: smooth;
    background-color:#000000; 
}