body {
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    background-color: white;
}

.content {
    padding-top: 50px;
}

.hero_text {
    position: absolute;
    color: white;
    font-weight: 900;
    font-family: cursive;
    font-size: xx-large;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.me {
    width: 100%;
    height: auto;
}

.about {
    display: flex;
    padding-top: 50px;
}

.about__text {
    width: 50%;
    text-align: center;
    align-self: center;
    font-size: 32px;
}

.about__image {
    width: 50%;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.tech {
    padding-top: 50px;
}

.body__tech--ul {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0;
}

.body__div--tech {
    display: flex;
}

.body .li {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body__div--li {
    display: flex;
    padding-top: 20px;
    width: 100%;
}

.body__li {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body__ul--p {
    padding: 20px;
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-family: cursive;
    font-size: xx-large;
}

@media all and (max-width: 800px) {
    .about {
        flex-direction: column-reverse;
        align-items: center;
    }
    .body__div--li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .body__li {
        padding: 20px;
    }
}