:root {
    --color-background: rgb(12, 12, 12);
    --color-white: #fff;
    --color-lightgrey: lightgray;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero h1 {
    text-align: center;
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.6;
}

.hero__videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hero__colorOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-lightgrey); /*change on white if you want more bright in html */
    width: 100%;
    height: 100vh;
    opacity: 0.2;
}

.aboutMe {
    display: flex;
    background-color: var(--color-background);
    opacity: 0.9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutMe h1 {
    font-size: 3rem;
    color: var(--color-white);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}

.aboutMe__text {
    color: var(--color-white);
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.aboutMe__text p {
    padding: 0 15px;
}

.projects {
    display: flex;
    background-color: var(--color-background);
    opacity: 0.9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects h1 {
    font-size: 3rem;
    color: var(--color-white);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.projects__firstProject{
    font-size: 3rem;
    color: var(--color-white);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.projects__secondProject{
    font-size: 3rem;
    color: var(--color-white);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.contact {
    display: flex;
    background-color: var(--color-background);
    opacity: 0.9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h2 {
    font-size: 3rem;
    color: var(--color-white);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.contact form {
    color: var(--color-white);
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

footer {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-background);
    color: var(--color-white);
}

/* ------------------------------------------------ */
.rework {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(6, 0, 7);
}

.description {
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(92, 84, 94);
    margin: 20px 0 20px 0;
    font-size: 40px;
}

.coffe_image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.coffe {
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.projects {
    display: flex;
    color: white;
}

.projects__container{
    flex-direction: row;
}

img {
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    cursor: pointer;
    border: 1px solid white
}

/* ------------------------------ */
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    background-color: white;
}

a {
    color:black;
    text-decoration: none;
}

.content {
    padding-top: 50px;
}

.hero_text {
    position: absolute;
    color: white;
    font-weight: 900;
    font-family: cursive;
    font-size: xx-large;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.me {   
    width: 400px;
    height: 500px;
    border-radius: 10%
}

.about {
    display: flex;
    padding-top: 50px;
}

.about__text {
    width: 50%;
    text-align: center;
    align-self: center;
    font-size: 32px;
}

.about__image {
    width: 50%;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.tech {
    padding-top: 50px;
}

.body__tech--ul {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0;
}

.body__div--tech {
    display: flex;
}

.body .li {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body__div--li {
    display: flex;
    padding-top: 20px;
    width: 100%;
}

.body__li {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.body__ul--p {
    padding: 20px;
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-family: cursive;
    font-size: xx-large;
}

@media all and (max-width: 800px) {
    .about {
        flex-direction: column-reverse;
        align-items: center;
    }
    .body__div--li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .body__li {
        padding: 20px;
    }
}